@font-face {
  font-family: "iransanse";
  src: url("../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IRANSansWeb.woff") format("woff");
}

@font-face {
  font-family: "iransanse-bd";
  src: url("../fonts/IRANSansWeb_Bold.woff") format("woff");
}

@font-face {
  font-family: "iransanse-md";
  src: url("../fonts/IRANSansWeb_Medium.woff") format("woff");
}
@font-face {
  font-family: "iransanse-num";
  src: url("../fonts/IRANSansWeb\(FaNum\).woff") format("woff");
}

@font-face {
  font-family: "iransanse-bd-num";
  src: url("../fonts/IRANSansWeb\(FaNum\)_Bold.woff") format("woff");
}

@font-face {
  font-family: "iransanse-md-num";
  src: url("../fonts/IRANSansWeb\(FaNum\)_Medium.woff") format("woff");
}

/*  global styles  */

* {
  font-family: "iransanse" ;
}

body {
  background-color: #f5f5f5;
  padding: 0 !important;
  overflow-y: scroll !important;
}
.modal-backdrop {
  z-index: 1310 !important;
}
.btn:focus,
.navbar-toggler:focus,
select {
  outline: none !important;
  box-shadow: none !important;
}
a {
  text-decoration: none !important;
}

/*  media max 576px  */
@media (max-width: 576px) {
  .font-xs-73 {
    font-size: 0.73rem !important;
  }
  .font-xs-80 {
    font-size: 0.8rem !important;
  }
  .font-xs-95 {
    font-size: 0.95rem !important;
  }
}
/*  media 576px  */
@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
  .font-sm-80 {
    font-size: 0.8rem !important;
  }
  .font-sm-90 {
    font-size: 0.9rem !important;
  }
  .w-sm-auto {
    width: auto !important;
  }
}
/*  media 768px  */
@media (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .font-md-90 {
    font-size: 0.9rem !important;
  }
  .font-md-80 {
    font-size: 0.8rem !important;
  }
  .font-md-102 {
    font-size: 1.2rem !important;
  }
}

/*  media 992px  */
@media (min-width: 992px) {
  .w-lg-50{
    width: 50% !important;
  }
  .w-lg-60{
    width: 60% !important;
  }
  .col-lg-72 {
    width: 72% !important;
  }
  .col-lg-28 {
    width: 28% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .col-lg-col{
    flex: 1 0 0% !important;
  }
}

/* --------------- */
.remove-outline {
  outline: none !important;
  box-shadow: none !important;
}
/* --- heights --- */
.min-h-70vh{
  min-height: 70vh !important;
}
/* ---  fonts size : --- */
.font-73 {
  font-size: 0.73rem !important;
}
.font-75 {
  font-size: 0.75rem !important;
}
.font-80 {
  font-size: 0.8rem !important;
}
.font-85 {
  font-size: 0.85rem !important;
}
.font-90 {
  font-size: 0.9rem !important;
}
.font-95 {
  font-size: 0.95rem !important;
}
.font-1 {
  font-size: 1rem !important;
}
.font-102 {
  font-size: 1.2rem !important;
}
.font-105 {
  font-size: 1.5rem !important;
}
.font-2 {
  font-size: 2rem !important;
}
.font-3 {
  font-size: 3rem !important;
}

/* --- font family : --- */
.font-bd-is {
  font-family: "iransanse-bd" !important;
}
.font-num-bd-is {
  font-family: "iransanse-bd-num" !important;
}
.font-num-is{
  font-family: 'iransanse-num' !important;
}
.font-md-is{
  font-family: "iransanse-md" !important;
}

/* ---  z-index :  --- */
.z-index-lv0 {
  z-index: 1350 !important;
}
.z-index-lv1 {
  z-index: 1300 !important;
}
.z-index-lv2 {
  z-index: 1200 !important;
}
.z-index-lv3 {
  z-index: 1150 !important;
}
.z-index-lv4 {
  z-index: 1100 !important;
}
.color-73 {
  color: #737373 !important;
}

/* --- colors : --- */
.color-gray {
  color: #a3a0a1 !important;
}
.color-sky {
  color: #0ea5cc !important;
}

.color-9 {
  color: #999 !important;
}
.color-9 {
  color: #eee !important;
}
.color--success{
  color: #559500 !important;
}
.color--danger{
  color: #D6080C !important;
}
.border-radius-1 {
  border-radius: 1rem !important;
}
.border-radius-05 {
  border-radius: 0.5rem !important;
}
.border-radius-04 {
  border-radius: 0.4rem !important;
}
/* --- bgColors : --- */
.bg-cascade {
  background: #95a5a6 !important;
}
.bg-c1 {
  background-color: #c1c1c1 !important;
}
.bg-green {
  background-color: #559500 !important;
}
.bg-sky {
  background-color: #0ea5cc !important;
}
.bg--danger{
  background-color: #D6080C !important;
}
/* ------ */
.btn--close{
  background-color: #D6080C !important;
  color: #fff !important;
}
.btn--close:hover{
   color: #fff !important;
    background-color: #bf1b0a !important;
    border-color: #565e64;
}
.btn--success{
  background-color: #559500 !important;
  color: #fff;
}
.btn--success:hover{
  background-color: #528e02 !important;
  color: #fff;
}
/* --- shadows : --- */
.shadow-c {
  box-shadow: 1px 1px 10px #ccc;
}
.shadow-0-c {
  box-shadow: 0 0 10px #ccc;
}
/* --- margins --- */
.mr-1-{
  margin-right: -1rem !important;
}
/* ------ */
.top-15 {
  top: 15% !important;
}
.cursor-pointer {
  cursor: pointer;
}
.vertical-line {
  border-left: 0.15rem solid #000;
}

.flex-bases-40 {
  flex-basis: 40%;
}
.flex-grow-5 {
  flex-grow: 5;
}
.text-underline {
  text-decoration: underline !important;
}
.flex-none{
  flex: none !important;
}
/* ------ */
.border-r {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.border-dashed {
  border: 1px dashed #ccc;
}
.border-bm-c{
border-bottom: 1px solid #ccc;
}
/*  index page : */
.input-textbox {
  height: 40px;
  font-size: 0.9rem;
  box-shadow: none !important;
  border: 1px solid #e6e6e6 !important;
  color: #7d7d7d !important;
}


/* search box - index page */
.job-logo-palce {
  background: #fff;
  display: block;
  padding: 0.5rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  box-shadow: 1px 1px 14px #ccc;
  margin-right: -17px;
  float: right;
}
.job-logo-palce img {
  width: 48px;
  height: 48px;
}
/*  */
.job-adv {
  border: 1px solid #ccc;
  border-radius: 7px;
  transition: all 300ms;
}
.job-adv a:focus,
a:hover {
  color: #1988b8;
}

.job-adv:hover {
  box-shadow: 1px 1px 10px #ccc;
  border: none;
  transform: scale(1.01);
  float: right !important;
}
/*  */




/* job description page : */




/* .form-check-input:checked {
  background-color: #14cbe8;
  border-color: #14cbe8;
} */


/* similar jobs  */

.job-adv.similar-job:hover {
  box-shadow: none;
  border: 1px solid #ccc;
  transform: none;
  float: right !important;
}

.job-adv.similar-job a:hover{
text-decoration: underline !important;
}
.similar-bookmark{
  top: .5rem;
  left: .5rem;
  cursor: pointer;
}

.btn-similar-position{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}


/* shared */
/* end of jod descriptions  */


